body {
  font-family: Didot, serif;
  margin: 0;
  padding: 0;
  background-color: rgb(18, 7, 31);
}

header {
  background-color: #280333;
  color: white;
  text-align: center;
  padding: 10px;
}

section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.curso {
  background-color: rgb(27, 10, 59); /* Ajuste o tom de azul conforme necessário */
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: aliceblue;
}

.curso img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

.curso h2 {
  margin-top: 10px;
}

.curso p {
  margin: 10px 0;
}

.curso button {
  display: block;
  margin: 10px auto;
  padding: 8px 16px;
  background-color: #220c72c4;
  color: rgb(146, 172, 166);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.curso button:hover {
  background-color: #2b0e7a;
}
